<nav class="nav-container">
  <div class="nav-bar">
    <div class="logo">
      <img
        routerLink="posts"
        src="../../../../assets/images/icon-left-font.svg"
        alt="Logo Groupomania"
      />
    </div>

    <ul *isLoggedOut>
      <li routerLinkActive="active">
        <a routerLink="auth/signup">Inscription</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="auth/login">Connexion</a>
      </li>
    </ul>

    <ul *isLoggedIn>
      <li routerLinkActive="active" *isAdmin>
        <a routerLink="admin">Admin</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="auth/login" (click)="onLogout()">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>
