<nav class="nav-container">
  <div class="nav-bar">
    <ul>
      <li routerLinkActive="active">
        <a routerLink="admin" *isAdmin>Admin</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="posts" *ngIf="isLoggedIn$ | async">Posts</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="new-post" *ngIf="isLoggedIn$ | async">Nouveau post</a>
      </li>
    </ul>
    <div class="logo">
      <img
        src="../../assets/images/icon-left-font-monochrome-white.svg"
        alt="Logo Groupomania"
      />
    </div>
    <ul>
      <li routerLinkActive="active">
        <a routerLink="auth/signup" *ngIf="!(isLoggedIn$ | async)">
          Inscription
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="auth/login" *ngIf="!(isLoggedIn$ | async)">
          Connexion
        </a>
      </li>
      <li>
        <a
          routerLink="auth/login"
          *ngIf="isLoggedIn$ | async"
          (click)="onLogout()"
        >
          Déconnexion
        </a>
      </li>
    </ul>
  </div>
</nav>
