<div class="post-container">
  <div class="post-card" *ngIf="post$ | async as post">
    <button (click)="onBack()">back</button>
    <div class="post-header">
      <h2>titre : {{ post.title }}</h2>
      <p>Mis en ligne le {{ post.createdAt | date: "d MMMM YYYY à HH:MM" }}</p>
      <p>by {{ post.User.userName }}</p>
    </div>
    <div class="post-img">
      <img
        *ngIf="post.imageUrl"
        [src]="post?.imageUrl"
        [alt]="post.title"
        class="img"
      />
    </div>
    <div class="post-content">
      <p>Contenu de l'article : {{ post.description }}</p>
      <p>Like: {{ post.like }}</p>
      <app-like-btn [post]="post"></app-like-btn>
      <button *ngIf="post.UserId == currentUser" (click)="onModify()">
        Modifier
      </button>
      <button *ngIf="post.UserId == currentUser" (click)="onDelete()">
        Supprimer
      </button>
    </div>
  </div>
</div>
