.like-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.is-liked-btn {
  color: #fd2d01;
}

.is-not-liked-btn {
  color: #4e5166;
}

.btn {
  cursor: pointer;
  font-size: 28px;
}

#show-likes {
  font-size: 20px;
  & span {
    font-family: "Lato", sans-serif;
  }
}
