<div *ngIf="showPost" class="post-container">
  <div class="post-card">
    <div class="post-header">
      <p>Auteur : {{ post.userName }}</p>
      <h2>titre : {{ post.title }}</h2>
      <p>Mis en ligne le {{ post.createdAt | date: "d MMMM YYYY à HH:MM" }}</p>
    </div>
    <div class="post-img">
      <img
        class="img"
        *ngIf="post.imageUrl"
        [src]="post.imageUrl"
        [alt]="post.title"
      />
    </div>
    <div class="post-content">
      <p>Contenu de l'article : {{ post.description }}</p>
      <p>likes: {{ post.like }}</p>
    </div>
    <div class="btn-container">
      <app-like-btn [post]="post"></app-like-btn>
      <button (click)="onViewPost()">Voir le post</button>
    </div>
  </div>
</div>
