<nav class="nav-container">
  <div class="nav-bar">
    <ul>
      <li routerLinkActive="active">
        <a routerLink="posts">Posts</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="new-post">Nouveau post</a>
      </li>
    </ul>
    <div class="logo">
      <img
        src="../../assets/images/icon-left-font-monochrome-white.svg"
        alt="Logo Groupomania"
      />
    </div>
    <ul>
      <li routerLinkActive="active">
        <a routerLink="auth/signup">Inscription</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="auth/login">Connexion</a>
      </li>
    </ul>
  </div>
</nav>
