.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-list {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-card {
  list-style-type: none;
  border: 1px solid #bebebe;
  box-shadow: 1px 1px 4px #dadada;
  margin: 16px 0;
  padding: 16px;
  width: 500px;
  & p {
    padding: 4px 0;
  }
  & i {
    cursor: pointer;
  }
}

.top-card {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 580px) {
  .header {
    margin: 0 32px;
  }

  .user-list {
    margin: 24px;
  }
  .user-card {
    width: 100%;
  }
}
