<div>
  <div class="header">
    <h4>Admin Page</h4>
    <p>Cette page est uniquement accessible <u>par un administrateur</u>.</p>
  </div>
  <div>
    <ul *ngIf="users$" class="user-list">
      <li *ngFor="let user of users$ | async" class="user-card">
        <div class="top-card">
          <p>
            <i
              class="fa-solid fa-circle-user"
              id="user-picto"
              alt="User Picture"
            ></i>
            {{ user.userName }}
          </p>
          <div *ngIf="user.role !== 'Admin'">
            <i
              (click)="onDelete(user.id)"
              class="fa-solid fa-trash-can btn"
              alt="Delete User button"
            ></i>
          </div>
        </div>
        <p>Id: {{ user.id }}</p>
        <p>Email: {{ user.email }}</p>
      </li>
    </ul>
  </div>
</div>
