<div class="form-container">
  <form [formGroup]="postForm" class="form-content">
    <h1>Créer un nouveau post</h1>
    <div class="form-group">
      <label for="title">Titre<span>*</span></label>
      <input id="title" type="text" formControlName="title" class="input" />
    </div>
    <div class="form-group">
      <label for="description">Description<span>*</span></label>
      <textarea
        id="description"
        type="text"
        formControlName="description"
        rows="4"
        class="input"
      >
      </textarea>
    </div>
    <div class="img-section">
      <input
        class="file-input"
        type="file"
        accept="image/*"
        (change)="onFileChange($event)"
        #fileUpload
      />
      <button (click)="fileUpload.click()">Ajouter une image</button>
      <img *ngIf="imagePreview" [src]="imagePreview" alt="Image preview" />
    </div>
    <div class="submit-btn">
      <button
        type="submit"
        (click)="onSubmitForm()"
        [disabled]="postForm.invalid"
      >
        Publier
      </button>
    </div>
  </form>
</div>
