<h1>Créer un nouveau post</h1>
<div class="form-container">
  <form [formGroup]="postForm" class="form-content">
    <div class="form-group">
      <label for="title">Titre</label>
      <input id="title" type="text" formControlName="title" />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        type="text"
        formControlName="description"
        rows="4"
      >
      </textarea>
    </div>
    <div class="form-group">
      <input
        class="file-input"
        type="file"
        accept="image/*"
        (change)="onFileChange($event)"
        #fileUpload
      />
      <button (click)="fileUpload.click()">Ajouter une image</button>
    </div>
    <div class="submit-btn">
      <button
        type="submit"
        (click)="onSubmitForm()"
        [disabled]="postForm.invalid"
      >
        Publier
      </button>
    </div>
  </form>
</div>
