h1 {
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 24px;
  padding-bottom: 16px;
}

.form-container {
  display: flex;
  justify-content: center;
  margin: 16px 64px;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 64px;
  width: 800px;
  box-shadow: 0px 0px 1px 1px #4e516654;
  border-radius: 32px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  & label {
    padding-bottom: 8px;
  }
  & span {
    color: #fd2d01;
    font-weight: bold;
  }
  & .input {
    border: 1px solid #bebebe;
    border-radius: 2px;
    padding: 8px;
    outline: none;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.1em;
    resize: none;
  }
}

.submit-btn {
  display: flex;
  justify-content: flex-end;
  & button {
    cursor: pointer;
    border: none;
    background: #fd2b01b7;
    color: #fff;
    box-shadow: 1px 1px 4px #dadada;
    padding: 8px;
    border-radius: 3px;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.1em;
  }
}

.file-input {
  display: none;
}

.img-section {
  display: flex;
  & button {
    cursor: pointer;
    background: #fd2b01b7;
    padding: 10px;
    border: none;
    color: #fff;
    box-shadow: 1px 1px 4px #dadada;
    border-radius: 3px;
    margin-top: 12px;
    width: 184px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.1em;
    font-size: 14px;
  }
  & img {
    width: 56px;
    padding: 0 4px;
    border-radius: 5px;
  }
}
