<div class="posts-container" *ngIf="posts$ | async as posts">
  <div class="new-post">
    <i
      routerLink="/new-post"
      class="fa-solid fa-circle-plus"
      *isLoggedIn
      alt="Créer un post"
    ></i>
  </div>
  <div class="no-post" *ngIf="posts.length <= 0">
    <p>Soyez le premier a créer un post!</p>
  </div>
  <div class="post-list" *ngFor="let post of posts$ | async">
    <div class="post-container">
      <div class="post-card">
        <div class="top-bar">
          <i
            *isAdmin
            (click)="onAdminDeletePost(post.id)"
            class="fa-solid fa-trash-can btn admin"
            alt="Delete Post button"
          ></i>
          <i
            *isAdmin
            (click)="onAdminModifyPost(post.id)"
            class="fa-solid fa-pen btn admin"
            alt="Update post button"
          ></i>
          <div class="user">
            <i
              class="fa-solid fa-circle-user"
              id="user-picto"
              alt="User Picture"
            ></i>
            <p id="user-name">{{ post.User.userName }}</p>
          </div>
          <i
            (click)="onViewPost(post.id)"
            class="fa-solid fa-angles-right btn"
          ></i>
        </div>
        <div class="post-header">
          <h2>{{ post.title }}</h2>
          <p>{{ post.createdAt | date: "d MMMM YYYY à HH:MM" }}</p>
        </div>
        <div class="post-img">
          <img *ngIf="post.imageUrl" [src]="post.imageUrl" [alt]="post.title" />
        </div>
        <div class="post-content">
          <p>{{ post.description }}</p>
        </div>
        <div class="btn-bar">
          <!-- <i class="fa-regular fa-heart" id="show-likes">
            <span> {{ post.numberOfLikes }} </span>
          </i> -->
          <app-like-btn [post]="post"></app-like-btn>
        </div>
      </div>
    </div>
  </div>
</div>
