<div class="post-container">
  <a class="post-card" (click)="onViewPost()">
    <div class="post-header">
      <p>Auteur : {{ post.author }}</p>
      <h2>titre : {{ post.title }}</h2>
      <p>Mis en ligne le {{ post.createdAt | date: "d MMMM YYYY à HH:MM" }}</p>
    </div>
    <div class="post-img">
      <img
        class="img"
        *ngIf="post.imageUrl"
        [src]="post.imageUrl"
        [alt]="post.title"
      />
    </div>
    <div class="post-content">
      <p>Contenu de l'article : {{ post.description }}</p>
      <app-like-btn></app-like-btn>
    </div>
  </a>
</div>
